# Environment variables
.env

# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
venv/
env/
.env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
static/
local_settings.py

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Windows
Thumbs.db
Desktop.ini

# Mac OS
.DS_Store
._*

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover 